name: Ubuntu

on:
  push:
    branches: [ main ]

  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-20.04

    steps:
      - name: Install doxygen
        run: sudo apt-get update && sudo apt-get install -yq doxygen graphviz

      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
          path: src

      - name: Configure CMake
        run: cmake -B build -S src -DCMAKE_INSTALL_PREFIX=$GITHUB_WORKSPACE/install

      - name: Build
        run: cmake --build build

      - name: Test
        run: |
          cd build
          ctest --output-on-failure

      - name: Install
        run: cmake --build build --target install

      - name: Upload docs artifact
        if: ${{ github.event_name == 'push' }}
        uses: actions/upload-artifact@v2
        with:
          name: docs
          path: install/share/doc/html/*

  update-docs:
    name: Update docs
    if: ${{ github.event_name == 'push' }}
    needs: build-and-test
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout gh-pages branch
        uses: actions/checkout@v2
        with:
          ref: gh-pages
          path: gh-pages

      - name: Remove existing docs
        run: rm -rf gh-pages/docs/main

      - name: Download docs artifact
        uses: actions/download-artifact@v2
        with:
          name: docs
          path: gh-pages/docs/main/

      - name: Commit any changes
        run: |
          cd gh-pages
          git ls-files --deleted -z > ../deleted.list
          git ls-files --others --modified -z > ../added.list
          if [ -s ../deleted.list ]; then xargs -0 git rm < ../deleted.list; fi
          if [ -s ../added.list ]; then xargs -0 git add < ../added.list; fi
          if [ -n "$(git status --porcelain)" ]; then
            git config --local user.name "Github Ubuntu action"
            git config --local user.email "noone@example.com"
            git commit -m "Update API docs"
            git push
          fi

